<section id="imagem">
    <img class="fundo" src="/assets/images-pg2/fundo-pokemon.png" alt="">

    <div>
        <main>
            <div class="pokemons">
                <div class="pokemon selecionado">
                    <div class="topo">
                        <p class="bola"></p>
                        <p class="bola"></p>
                    </div>
                    <div class="tela">
                        <img src="/assets/images-pg2/golurk.jpg" alt="Golurk">
                    </div>
                    <div class="conteudo">
                        <h3 class="nome-pokemon">Golurk N°623</h3>
                        <div class="grade">
                            <p class="traco"></p>
                            <p class="traco"></p>
                            <p class="traco"></p>
                        </div>
                    </div>
                </div>
                <div class="pokemon">
                    <div class="topo">
                        <p class="bola"></p>
                        <p class="bola"></p>
                    </div>
                    <div class="tela">
                        <img src="/assets/images-pg2/lucario.jpg" alt="Lucario">
                    </div>
                    <div class="conteudo">
                        <h3 class="nome-pokemon">Lucario N°448</h3>
                        <div class="grade">
                            <p class="traco"></p>
                            <p class="traco"></p>
                            <p class="traco"></p>
                        </div>
                    </div>
                </div>
                <div class="pokemon">
                    <div class="topo">
                        <p class="bola"></p>
                        <p class="bola"></p>
                    </div>
                    <div class="tela">
                        <img src="/assets/images-pg2/gliscor.jpg" alt="Gliscor">
                    </div>
                    <div class="conteudo">
                        <h3 class="nome-pokemon">Gliscor N°472 "Zeus"</h3>
                        <div class="grade">
                            <p class="traco"></p>
                            <p class="traco"></p>
                            <p class="traco"></p>
                        </div>
                    </div>
                </div>
                <div class="pokemon">
                    <div class="topo">
                        <p class="bola"></p>
                        <p class="bola"></p>
                    </div>
                    <div class="tela">
                        <img src="/assets/images-pg2/noivern.jpg" alt="Noivern">
                    </div>
                    <div class="conteudo">
                        <h3 class="nome-pokemon">Noivern N°715 "Drácula"</h3>
                        <div class="grade">
                            <p class="traco"></p>
                            <p class="traco"></p>
                            <p class="traco"></p>
                        </div>
                    </div>
                </div>
                <div class="pokemon">
                    <div class="topo">
                        <p class="bola"></p>
                        <p class="bola"></p>
                    </div>
                    <div class="tela">
                        <img src="/assets/images-pg2/charizard.jpg" alt="Charizard">
                    </div>
                    <div class="conteudo">
                        <h3 class="nome-pokemon">Charizard N°006</h3>
                        <div class="grade">
                            <p class="traco"></p>
                            <p class="traco"></p>
                            <p class="traco"></p>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="botoes">
                <li>
                    <button class="botao selecionado">
                        <img src="/assets/images-pg2/golurk-icone.jpg" alt="Golurk icone">
                    </button>
                </li>
                <li>
                    <button class="botao">
                        <img src="/assets/images-pg2/lucario-icone.jpg" alt="Lucario icone">
                    </button>
                </li>
                <li>
                    <button class="botao">
                        <img src="/assets/images-pg2/gliscor-icon.jpg" alt="Gliscor icone">
                    </button>
                </li>
                <li>
                    <button class="botao">
                        <img src="/assets/images-pg2/noivern-icon.png" alt="Noivern icone">
                    </button>
                </li>
                <li>
                    <button class="botao">
                        <img src="/assets/images-pg2/charizard-icon.jpg" alt="Charizard icone">
                    </button>
                </li>
            </ul>
        </main>
    </div>

</section>

<section id="separador">
    <img class="cima" src="/assets/images/grama-cima-pixel.png" alt="">
</section>

<section class="dados" id="descricao">
</section>