<link rel="stylesheet" href="./recompensas-responsive.css">

<section id="inicio">
    <img src="/assets/pagina-recompensas/lendarios.png" alt="" class="fundo">
    <h1 class="titulo">Recompensas</h1>
    <img src="/assets/pagina-recompensas/moita.png" alt="" class="grama">
    <div class="fim">
        <div class="subtitulo">
            <img class="pokebola" src="/assets/images/pokebola-removebg-preview.png" alt="">
            <div class="textos">
                <h4>Está atrás de um desafio?</h4>
                <h6>Você veio ao lugar certo!</h6>
            </div>
            <img class="ash" src="/assets/pagina-recompensas/ash-batalha.png" alt="Ash Ketchum">
        </div>
    </div>
</section>

<section id="gradeDesafios">
    <div id="desafios">
    </div>
  </section>