<section id="inicio">
    <img src="/assets/pagina-recompensas/lendarios.png" alt="" class="fundo">
    <h1 class="titulo">Recompensas</h1>
    <img src="/assets/pagina-recompensas/moita.png" alt="" class="grama">
    <div class="fim">
        <div class="subtitulo">
            <img class="pokebola" src="/assets/images/pokebola-removebg-preview.png" alt="">
            <div class="textos">
                <h3>Está atrás de um desafio?</h3>
                <h5>Você veio ao lugar certo!</h5>
            </div>
            <img src="/assets/pagina-recompensas/ash.png" alt="Ash">
        </div>
    </div>
</section>

<section id="gradeDesafios">
    <div id="desafios">
    </div>
  </section>