@media (max-width: 520px) {
    .titulo {
        -webkit-text-stroke: 1px #000000;
    }

    .fim .ash {
        max-width: 350px;
        margin: auto;
    }

    .textos {
        font-weight: 700;
        -webkit-text-stroke: 0.6px #000;
    }

    .pokebola {
        max-height: 4vh;
    }
}