<link rel="stylesheet" href="./segredo-responsive.css">

<section>
    <div class="fundo">
        <img src="/assets/pagina-recompensas/borda-gasta.png" alt="" class="borda">
        
        <div class="cartaz">
            <h1 class="procurado">WANTED</h1>
            <h3 class="nome">Mulalvão</h3>
            <img class="monta" src="/assets/pagina-recompensas/segredo.jpg" alt="">
            <h3 class="alerta">Amado e Despreparado</h3>
            <div class="fim">
                <div>
                    <h4 class="motivo">MOTIVO</h4>
                    <p class="descricao">Cometeu atos de mulice severos</p>
                </div>
                <p class="separa"></p>
                <div>
                    <h2 class="recompensa">RECOMPENSA</h2>
                    <p class="valor">R$ 2,99</p>
                </div>
            </div>
        </div>
    </div>
</section>
