<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<header>
  
  <nav class="navbar bg-body-tertiary navbar-expand-lg  ">
    <a class="navbar-brand" href="https://github.com/Anarquia122" target="_blank">
      <img class="github" src="/assets/images/github-branco.png" alt="">
    </a>
    <a class="navbar-brand" routerLink="" (click)="setActive('inicio')">
      <img class="logo" src="/assets/images/logo-pokemon.png" alt="">
    </a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="" (click)="setActive('inicio')">
          <span [class.active]="activeLink === 'inicio'">inicio</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/pokedex" (click)="setActive('pokedex')">
          <span [class.active]="activeLink === 'pokedex'">Pokedex</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/recompensas" (click)="setActive('recompensas')">
          <span [class.active]="activeLink === 'recompensas'">Desafios</span>
        </a>
      </li>
    </ul>
</nav>
</header>

<router-outlet></router-outlet>

<footer>
  
    <div>
        <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">
            <img class="logo-f" src="/assets/images/logo-pokemon.png" alt="">
        </a>
        <p>Site feito por fã.</p>
    </div>
    <div>
        <a class="segredo" routerLink="/segredo">
          <img class="batz" src="/assets/images/marca-batz.png" alt="">
        </a>
    </div>
  
</footer>
<div class="copyright">
  <p>&copy;Desenvolvido por: <a href="https://github.com/Anarquia122" target="_blank">Italo Augusto</a></p>
</div>

<!-- * * * * * * * * * * * * * * *
  <nav>
    <ul>
      <li>
        <a class="nav-link" routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">início</a>
      </li>

      <li>
        <a class="nav-link" routerLink="/pokedex" routerLinkActive="active" ariaCurrentWhenActive="page">pokedex</a>
      </li>

      <li>
        <a class="nav-link" routerLink="/recompensas" routerLinkActive="active" ariaCurrentWhenActive="page">recompensas</a>
      </li>
    </ul>
  </nav>
  * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->