<div>
    <img class="fundo" src="/assets/images/pokemon-wallpaper.png" alt="fundo">

    <div class="conteudo">

        <div class="principal">
            <div id="titulo">
                <img class="logo" src="/assets/images/logo-pokemon.png" alt="logo">
                <h4>
                    Boas-vindas ao meu projeto, no estilo do site "pilgrim outpost", com o tema de pokemon.
                    Feito
                    por
                    Italo Augusto, utilizando o framework Angular.
                </h4>
            </div>
            <div class="topico">
                <img class="pokebola" src="/assets/images/pokebola-removebg-preview.png" alt="">
                <h6>Aqui você encontrará informações sobre alguns pokemons.</h6>
            </div>
            <div class="topico">
                <img class="pokebola" src="/assets/images/pokebola-removebg-preview.png" alt="">
                <h6>Tente completar algum dos desafios!</h6>
            </div>
            <div class="topico">
                <img class="pokebola" src="/assets/images/pokebola-removebg-preview.png" alt="">
                <h6>É capaz de encontrar todos os Batz segredos?</h6>
            </div>
        </div>
    </div>

</div>