
<link rel="stylesheet" href="./inicio-responsive.css">


<div>
    <img class="fundo" src="/assets/images/pokemon-wallpaper.png" alt="fundo">

    <div class="conteudo">

        <div class="principal">
            <div id="titulo">
                <img class="logo" src="/assets/images/logo-pokemon.png" alt="logo">
                <h1>
                    Boas-vindas ao meu projeto.
                </h1>
            </div>
            <div class="descricao">
                <p>
                    Este projeto foi feito no estilo do site "pilgrim outpost", com o tema de pokemon. Feito por Italo Augusto, utilizando o framework Angular.
                </p>
            </div>
            <div class="topicos">
                <div class="topico">
                    <img class="pokebola" src="/assets/images/pokebola-removebg-preview.png" alt="">
                    <h4>Aqui você encontrará informações sobre alguns pokemons.</h4>
                </div>
                <div class="topico">
                    <img class="pokebola" src="/assets/images/pokebola-removebg-preview.png" alt="">
                    <h4>Tente completar algum dos desafios!</h4>
                </div>
                <div class="topico">
                    <img class="pokebola" src="/assets/images/pokebola-removebg-preview.png" alt="">
                    <h4>É capaz de encontrar todos os Batz segredos?</h4>
                </div>
            </div>
        </div>
    </div>

</div>